.updateButton {
    background-color: rgb(231, 14, 14);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 20px 15px 0px 0px
}

.cancelButton {
    background-color: rgb(235, 224, 224);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}